{% extends 'base.html' %}
{% load static %}
{% block body%}
    <body class="FutureBg">
        <!--
        <div class="LogoRegion">
            <div class="LogoWrapper">
                <div class="Logo"></div>
            </div>
        </div>
        -->
        <div class="LogoRegion">
            <img style="width:100%; max-width:845px;" src="{% static 'image/header/logo.png' %}" alt=""/>
        </div>
        <div class="CarRegion">
            <img style="width:100%; max-width:1590px;" src="{% static 'image/header/car.png' %}" alt=""/>
        </div>
        <!--
        <div class="CarRegion">
            <div class="Car"></div>
        </div>
        -->
        <div class="TicketContainer">
            <div class="TicketRow">
                <div class="TicketRegion">

                    <div class="TicketGroup">
                        <a class="FutureBtn FutureBtn--first FutureBtn--big">
                            <span class='FutureBtn-innerBorder'> </span>
                            Tutorials
                        </a>
                        <a class="FutureBtn FutureBtn--first FutureBtn--bigTwoLine">
                            <span class='FutureBtn-innerBorder'> </span>
                            May </br>30-31
                        </a>
                    </div>
                    <div class="TicketGroup">
                        <a class="FutureBtn FutureBtn--second FutureBtn--big">
                            <span class='FutureBtn-innerBorder'> </span>
                            Conference
                        </a>
                        <a class="FutureBtn FutureBtn--second FutureBtn--bigTwoLine">
                            <span class='FutureBtn-innerBorder'> </span>
                            May </br>30-31
                        </a>
                    </div>
                    <div class="TicketGroup">
                        <a class="FutureBtn FutureBtn--third FutureBtn--big">
                            <span class='FutureBtn-innerBorder'> </span>
                            Sprint </a>
                        <a class="FutureBtn FutureBtn--third FutureBtn--bigTwoLine">
                            <span class='FutureBtn-innerBorder'> </span>
                            June <br/>8</a>
                    </div>

                </div>

            </div>
        </div>
        <div class="SponsorContainer">
            <div class="SponsorRow">
                <div class="SponsorRegion">
                    <h2 class="h1 DoubleBarHeader DoubleBarHeader--first">
                        SPONSORSHIP AVAILABLE
                    </h2>
                </div>
            </div>
            <div class="SponsorRow">
                <div class="SponsorRegion">
                    <ul class="PyConListGroup--First">
                        <li class="list-group-item">Cras <a>justo</a> odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="NavRegion">
            <ul class="FutureNav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Downloads</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </body>
{% endblock %}