{% extends 'base.html' %}
{% load static %}
{% block body%}
    <body class="FutureBg">
        <!--
        <div class="LogoRegion">
            <div class="LogoWrapper">
                <div class="Logo"></div>
            </div>
        </div>
        -->
        <div class="LogoRegion">
            <img style="width:100%; max-width:845px;" src="{% static 'image/header/logo.png' %}" alt=""/>
        </div>
        <div class="CarRegion">
            <img style="width:100%; max-width:1590px;" src="{% static 'image/header/car.png' %}" alt=""/>
        </div>
        <!--
        <div class="CarRegion">
            <div class="Car"></div>
        </div>
        -->
        <div class="TicketContainer">
            <div class="TicketRow">
                <div class="TicketRegion">

                    <div class="TicketGroup">
                        <a class="FutureBtn FutureBtn--first FutureBtn--big">
                            <span class='FutureBtn-innerBorder'> </span>
                            Tutorials
                        </a>
                        <a class="FutureBtn FutureBtn--first FutureBtn--bigTwoLine">
                            <span class='FutureBtn-innerBorder'> </span>
                            May </br>30-31
                        </a>
                    </div>
                    <div class="TicketGroup">
                        <a class="FutureBtn FutureBtn--second FutureBtn--big">
                            <span class='FutureBtn-innerBorder'> </span>
                            Conference
                        </a>
                        <a class="FutureBtn FutureBtn--second FutureBtn--bigTwoLine">
                            <span class='FutureBtn-innerBorder'> </span>
                            May </br>30-31
                        </a>
                    </div>
                    <div class="TicketGroup">
                        <a class="FutureBtn FutureBtn--third FutureBtn--big">
                            <span class='FutureBtn-innerBorder'> </span>
                            Sprint </a>
                        <a class="FutureBtn FutureBtn--third FutureBtn--bigTwoLine">
                            <span class='FutureBtn-innerBorder'> </span>
                            June <br/>8</a>
                    </div>

                </div>

            </div>
        </div>

        <div class="SponsorContainer">
            <div class="SponsorRow">
                <div class="SponsorRegion">
                    <h2 class="h1 Header--firstDoubleBar Header">
                        SPONSORSHIP AVAILABLE
                    </h2>
                </div>
            </div>
            <div class="SponsorRow">
                <div class="SponsorRegion">
                    <ul class="PyConListGroup--First">
                        <li class="list-group-item">Cras <a>justo</a> odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="NavRegion">
            <ul class="FutureNav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Downloads</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>


        <div class="AboutContainer">
           <div class="AboutRow">
               <div class="AboutRegion">
                   <div class="AboutRegion-content">
                       <span class="Text--bigger Header Header--third">WHAT IS PYCON APAC/TAIWAN</span>
                   </div>
                   <div class="Text--middle AboutRegion-content"> <p>xxx</p></div>
                   <div class="AboutRegion-content Text--middle">
                        <div class="HalfRow">
                            <div class="HalfRow--left">
                                <ul class="PyConListGroup--First">
                                    <li class="list-group-item">Cras <a>justo</a> odio</li>
                                    <li class="list-group-item">Dapibus ac facilisis in</li>
                                    <li class="list-group-item">Morbi leo risus</li>
                                    <li class="list-group-item">Porta ac consectetur ac</li>
                                    <li class="list-group-item">Vestibulum at eros</li>
                                </ul>
                            </div>
                            <div class="HalfRow--right">
                                <ul class="PyConListGroup--First">
                                    <li class="list-group-item">Cras <a>justo</a> odio</li>
                                    <li class="list-group-item">Dapibus ac facilisis in</li>
                                    <li class="list-group-item">Morbi leo risus</li>
                                    <li class="list-group-item">Porta ac consectetur ac</li>
                                    <li class="list-group-item">Vestibulum at eros</li>
                                </ul>
                            </div>
                        </div>
                   </div>
               </div>
           </div>
        </div><!-- end about -->

        <div class="SpeakerListRegion">
            <div class="FutureHR"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <h2 class="Text--bigger Header Header--third">Speakers</h2>
                    </div>
                </div>
            </div>
            <div class="SecondSingleBar">
               <div class="SpeakerContainer">
                  <div class="SpeakerRow">
                      <div class="SpeakerLeft">
                          <img src="{% static 'image/speaker/photo_image_436x436.jpg'%}">
                      </div>
                      <div class="SpeakerRight">
                          <img src="{% static 'image/speaker/photo_image_436x436.jpg'%}">
                      </div>
                  </div>

               </div>
            </div>

        </div>

        <div class="SponsorListRegion">
            <div class="FutureHR"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <h2 class="Text--bigger Header Header--third">Sponsors</h2>
                    </div>
                </div>
            </div>
            <div class="SecondSingleBar"></div>
            <div class="SponsorList">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">

                            <div class="Sponsor-caption">
                                <img src="{% static 'image/sponsor/mark_golden.png' %}">
                            </div>
                            <div class="Sponsor-icons">
                                <div class="Sponsor-icon--left">
                                    <img src="{% static 'image/placeholder.jpg'%}" alt=""/>
                                </div>
                                <div class="Sponsor-icon--right">
                                    <img src="{% static 'image/placeholder.jpg'%}" alt=""/>
                                </div>
                            </div>

                            <div class="Sponsor-caption">
                                <img src="{% static 'image/sponsor/mark_silver.png' %}">
                            </div>
                            <div class="Sponsor-icons">
                                <div class="Sponsor-icon--left">
                                    <img src="{% static 'image/placeholder.jpg'%}" alt=""/>
                                </div>
                                <div class="Sponsor-icon--right">
                                    <img src="{% static 'image/placeholder.jpg'%}" alt=""/>
                                </div>
                            </div>

                            <div class="Sponsor-caption">
                                <img src="{% static 'image/sponsor/mark_bronge.png' %}">
                            </div>
                            <div class="Sponsor-icons">
                                <div class="Sponsor-icon--left">
                                    <img src="{% static 'image/placeholder.jpg'%}" alt=""/>
                                </div>
                                <div class="Sponsor-icon--right">
                                    <img src="{% static 'image/placeholder.jpg'%}" alt=""/>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="FutureContainer">
            <div class="FutureRow">
                <div class="FutureRegion">
                    <h2 class="h1 Header--firstDoubleBar Header">
                        Call For Volumnter
                    </h2>
                </div>
            </div>
            <div class="FutureRow">
                <div class="FutureRegion">
                    <ul class="PyConListGroup--First">
                        <li class="list-group-item">Cras <a>justo</a> odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            </div>
        </div>

    </body>
{% endblock %}